numpy>=1.22.3
scipy>=1.8.0
scikit-learn>=1.0.2
gmpy2>=2.1.2
xgboost>=1.5.2
lightgbm>=3.3.2
catboost>=1.0.4
pandas>=1.4.1
bitarray>=2.5.1
imbalanced-learn>=0.10.1
scipy>=1.10.0
imodels>=1.3.17 # pip install imodels
matplotlib>=3.7.1
shap>=0.41.0
#rulecosi~=0.0.2
dask~=2023.3.2